
.productList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; /* Adjust the gap as needed */
  }
  .img{
    width: 400px
  }
  /* Media queries for smaller screens */
  @media (max-width: 1200px) {
    .productList {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .productList {
      grid-template-columns: repeat(2, 1fr);
    }
  }