
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    /* background-color: #ff9999; */
    color: black;
    font-size: 15px;
    
    font-family:'Monserat', sans-serif;
}


.logo {
    height: 30px;
    width: auto;
}

.menu {
    display: flex;
}

.menuItem {
    margin: 0 10px;
    cursor: pointer;
}
.p2pLogo{
    height: 20px;
    width: 20px;
}
.navImg{
    height: 20px;
    width: 20px;
}
.parent {
    background-color: #f7f7f7;
    display: grid;
    padding-right: 10%;
    grid-template-columns: 3fr repeat(5, 0.5fr) 1fr repeat(2, 0.3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: Poppins;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; padding-left: 20px ;font-size: 20px; display: flex; align-items: center; width: 100%; height: 100%; justify-content: start; padding-right: 5%;}
    .div2 { grid-area: 1 / 2 / 2 / 3;padding: 20px; display: flex; align-items: center; }
    .div3 { grid-area: 1 / 3 / 2 / 4;padding: 20px; display: flex; align-items: center; }
    .div4 { grid-area: 1 / 4 / 2 / 5; padding: 20px; display: flex; align-items: center;}
    .div5 { grid-area: 1 / 5 / 2 / 6; padding: 20px; display: flex; align-items: center;}
    .div6 { grid-area: 1 / 6 / 2 / 7; padding: 20px; display: flex; align-items: center;}
    .div7 { grid-area: 1 / 7 / 2 / 8;
        padding: 20px;
            display: flex;
            justify-content: end; }
    .div8 { grid-area: 1 / 8 / 2 / 9;
        padding: 20px;
        display: flex;
    justify-content: center;
    align-items: center;
            }
    .div9 { grid-area: 1 / 9 / 2 / 10; 
        padding: 20px;
        display: flex;
        justify-content: start;
    }
.div1 .div2 .div3 .div4 .div5 .div6 .div8{
    display: flex;
    justify-content: center;
}

.lg:hover{
    /* display: flex; */
    scale: 200
    /* justify-content: center; */
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px;
        font-size: 16px;
    }
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .inputField {
    font-family: 'Poppins', sans-serif;
    width: 300px;
    padding-left: 5px;
    margin: 0 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    /* margin-bottom: 20px; */
    transition: border-color 0.3s ease-in-out;
  }
  
  .inputField:focus,
  .inputField:hover {
    outline: none;
    border-bottom-color: #0080b3;
  }
  
  .button {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    padding: 10px;
    background-color: #007bff;
    color: rgb(164, 15, 15);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .inputFieldContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;

    margin-bottom: 20px;
  }
  
  .closeButton {
    /* position: absolute; */
    display: flex;
    font-family: Poppins;

    width: 100%;
    justify-content: end;
    margin-bottom: 20px;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #333;
  }
  
  .modalContent {
    text-align: center;
    font-family: Poppins;

  }
  
  .relatedProductsHeader {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Poppins;
    font-weight: 600;

  }
  .matchedProduct{
    display: flex;
    padding-left: 25px;
    font-family: Poppins;
  }
  .noMatchedProduct{
    font-family: Poppins;
  }